@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a9aeb0, #ea0d0d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #003049;
}

.game-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  width: 320px;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-size: 2rem;
  color: #003049;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.cell:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
}

#status {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #003049;
}

button {
  padding: 10px 25px;
  border: none;
  background: #003049;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #005f73;
}
